@charset "utf-8";

/* Page layout */

.headerRow {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

img {
    display: inline-block;
    vertical-align: middle;

    height: 220px;
    width: auto;
    align-content: flex-start;
    padding-left: 20px;
}

/* Navigation Layout */

/* Navigation Layout */

nav {
    width: 700px;
    margin: 30px auto;
    text-align: center;
    }

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 15px;
    justify-content: center;
}

nav ul li.assignmentTile {
    width: 250px;
    height: 80px;

    background-image: url("index_links.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
}

nav ul li.assignmentTile a {
    color: black;
    text-decoration: none;

    font-size: 0.9em;

    width: 80%;

    display: block;

    text-align: center;

    line-height: 1.2em;
}